
* {
    box-sizing: border-box;
}

.text {
    font-weight: bold;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #fff;
}

h2 {
    background-color: #818aa1;
    color: #212529;
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    box-sizing: border-box;
    display: block;
    float: none;
    line-height: 38.4px;
    position: static;
    z-index: auto;
    font-weight: bold;
    padding: 10px;
}

h3 {
    background-color: #818aa1;
    color: #212529;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: 450;
    line-height: 1.2;
    box-sizing: border-box;
    display: block;
    float: none;
    line-height: 38.4px;
    position: static;
    z-index: auto;
    font-weight: bold;
    padding: 10px;
}

.collapsible {
  cursor: pointer;
}
.collapsible:hover {
    background-color: #666;
}

.content-section {
    display: none;
    overflow: hidden;
}

.main-container {
    width: 100%;
}

.spacer {
    height: 20px;
    width: 100%;
}

.row {
    width: 100%;
    height: auto;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.video-container {
    float: left;
    text-align: center;
    width: 50%;
    padding: 10px;
}

.video-frame {
    height: 388px;
    width: 100%;
}

.weather-widget {
    float: left;
    width: 25%;
    height: auto;
    margin: auto;
    padding: 10px;
}

.map-widget {
    float: left;
    width: 50%;
    padding: 10px;
}

.snow-widgets {
    float: left;
    width: 25%;
    height: auto;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.photo-grid {
    float: left;
    text-align: center;
    width: 33.33%;
    padding: 10px;
}

#z-widgets {
    display: none;
}
