* {
  box-sizing: border-box;
}
.text {
  font-weight: bold;
}
.video-grid {
  float: left;
  text-align: center;
  width: 50%;
  padding: 10px;
}
.photo-grid {
  float: left;
  text-align: center;
  width: 33.33%;
  padding: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
